.users-display {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-content: flex-start;

  @include breakpoint-max(900px) {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
    margin-bottom: 20px;
    max-height: 600px;
  }

  @include breakpoint-max(600px) {
    max-height: 400px;
  }

  form {
    select[name="findBy"] {
      margin-right: 5px;

      @include breakpoint-max(600px) {
        margin-right: 0;
      }
    }

    input[name="searchKey"] {
      margin-left: 5px;
      margin-right: 5px;

      @include breakpoint-max(600px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    select[name="sort"] {
      margin-left: 5px;

      @include breakpoint-max(600px) {
        margin-left: 0;
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    h3 {
      font-size: 30px;
      font-family: 'IBM Plex Sans', sans-serif;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    justify-items: stretch;
    margin-bottom: 10px;
    box-shadow: none;
    border: 1px solid $grey-light;

    @include breakpoint-max(600px) {
      flex-wrap: wrap;
    }

    &__content {
      min-width: 66.6666%;
      padding-right: 20px;

      @include breakpoint-max(600px) {
        min-width: 100%;
        padding-right: 0;
      }

      h2 {
        font-size: 40px;
        margin-top: 8px;
        margin-bottom: 8px;

        @include breakpoint-max(600px) {
          font-size: 24px;
        }
      }

      p {
        font-size: 20px;
        font-family: 'IBM Plex Sans', sans-serif;
        color: $grey-disabled;

        @include breakpoint-max(600px) {
          font-size: 16px;
        }
      }

      p.times-entries {
        color: $black;
        margin-top: 16px;

        @include breakpoint-max(600px) {
          font-size: 12px;
        }

        span {
          color: blue;
        }
      }
    }

    &__cta {
      min-width: 33.3333%;

      @include breakpoint-max(600px) {
        min-width: 100%;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &__filters {
    width: 100%;
    margin-bottom: 20px;
  }
}